{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글 수정</title>
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<form action="{% url 'post:update' post_id=post.id page=page %}" method="post">
    {% csrf_token %}
    <input type="text" value="{{ post.member.member_name }}" readonly>
    <input type="text" name="post_title" placeholder="게시글 제목" value="{{ post.post_title }}">
    <textarea name="post_content" cols="30" rows="10" placeholder="게시글 내용">{{ post.post_content }}</textarea>
    <input type="submit" value="완료">
</form>
</body>
</html>












